---
import Layout from '../layouts/Layout.astro';

---
<Layout>
  
  <article class="">
    <section>
    </section>
    
    <section>
    </section>
  </article>

</Layout>

<style>
article {
  display: flex;
  flex-direction: row;
  width: 100%;
}
article > section {
  margin: 0 1rem;
}
</style>