---

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>tailwind</title>
		<script is:inline src="/dist/js/uswds-init.min.js"></script>
		<link rel="stylesheet" href="/dist/css/uswds.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	</head>
	<body>
		<slot />
		<script is:inline src="/dist/js/uswds.min.js"></script>
	</body>
</html>

<style lang="scss" is:global>
// 1. Load USWDS settings
	@forward "../assets/scss/uswds-settings.scss";

// 2. Load USWDS source code
	@forward "@uswds/uswds/packages/uswds/_index.scss";

// 3. Load your project's custom Sass
	@forward "project-custom.scss";

	:not(:defined) {
    visibility: hidden;
}
</style>
